
  
  .card-profile {
    max-width: 350px;
    width: 100%;
    float: left;
    position: relative;
    height: auto;
    background: #fff;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
  }
  .card-profile:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  
  .card-profile_visual {
    height: 60%;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-profile_user-infos {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    /* top: 60%; */
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
  }
  .card-profile_user-infos a {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #F96B4C;
    background-image: linear-gradient(#F96B4C, #F23182);
    display: block;
    clear: both;
    border-radius: 100%;
    box-shadow: 0 2px 0 #D42D78, 0 3px 10px rgba(243, 49, 128, 0.15), 0 0px 10px rgba(243, 49, 128, 0.15), 0 0px 4px rgba(0, 0, 0, 0.35), 0 5px 20px rgba(243, 49, 128, 0.25), 0 15px 40px rgba(243, 49, 128, 0.75), inset 0 0 15px rgba(255, 255, 255, 0.05);
    overflow: hidden;
  }

   .stats-holder {
       margin-top: 30px;
    position: relative;
    width: 100%;
    /* top: 68%; */
    height: auto;
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .div1 p:first-child{
      margin-top: 50px;
  }
  .div1 p:last-child{
    margin-bottom: 12px;
}