@import url('https://fonts.googleapis.com/css?family=Abel');


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardStat {
  width: 80%;
  height: 150px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  max-width: 100%;
  
}
@media(max-width:480px){
  .cardStat{
    height: 80px;
    margin-top: 0px;
  }
  .icon{
    font-size: 100% !important;
  }

}


.cardStat .num {
  text-align: right;
  font-size: 4em;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cardStat .type {
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cardStat .additional {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
.icon{
  font-size: 160% ;
}

.cardStat .additional div[label='1'] {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.cardStat .additional div[label='2'] {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.cardStat .additional div[label='3'] {
  background: linear-gradient(60deg, #ef5350, #e53935);
}
.cardStat .additional div[label='4'] {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

.cardStat .additional .more-info[label='1'] {
  background: linear-gradient(120deg, #43a047, #66bb6a);
}
.cardStat .additional .more-info[label='2'] {
  background: linear-gradient(120deg, #fb8c00, #ffa726);
}

.cardStat .additional .more-info[label='3'] {
  background: linear-gradient(120deg, #e53935, #ef5350);
}
.cardStat .additional .more-info[label='4'] {
  background: linear-gradient(120deg, #00acc1, #26c6da);
}

.cardStat:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
  /* left:50% */
  
}
.cardStat:hover .additional .more-info {
  left: 50%;
  padding:5px;
  text-align: center;
  width: 50%;
  vertical-align: middle;
  display: flex;
    justify-content: center;
    text-align: center;
}
.more-info a{
  text-decoration: none;
  height: 100%;
  display: inherit;
}
.cardStat:hover .level {
  left:25% !important;
}

.cardStat .additional .user-card {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.cardStat .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 10%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.cardStat .additional .user-card .level,
.cardStat .additional .user-card .points {
  top: 50%;
  color: #fff;
  text-transform: uppercase;
  transform: translate(-50%,-50%);
  font-size: 40px !important;
  font-weight: bold;
  white-space: nowrap;
  left:50%
}



.cardStat .additional .user-card .points {
  top: 85%;
}

.cardStat .additional .user-card svg {
  top: 50%;
}

.cardStat .additional .more-info {
  width: 100%;
  /* width: 150px; */
  float: left;
  position: absolute;
  left: 100%;
  height: 100%;
}

.cardStat .additional .more-info h1 {
  color: #000;
  margin-bottom: 0;
}


.cardStat .additional .coords {
  margin: 0 1rem;
  color: #000;
  font-size: 1rem;
}

.cardStat .additional .coords span + span {
  float: right;
}

.cardStat .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #000;
}

.cardStat.green .additional .stats {
  color: #325C46;
}

.cardStat .additional .stats > div {
  flex: 1;
  text-align: center;
}

.cardStat .additional .stats i {
  display: block;
}

.cardStat .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cardStat .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.cardStat .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.cardStat .general {
  /* width: 150px; */
width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 5px;
  padding-top: 0;
}

.cardStat .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


