.i {
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  body {
    background-color: #e6e5e1;
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }
  .container .cardGraph {
    position: relative;
    width: 90%;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 4px;
    border-radius: 10px;
  }
  .container .cardGraph .h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    opacity: 0;
  }
  .container .cardGraph .fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
  }
  /* .container .cardGraph:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  } */
  .container .cardGraph button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #da4d1d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
  }
  .container .cardGraph button i {
    font-size: 3rem;
  }
  .container .cardGraph button:hover  {
    transform: scale(16.5);
  }
  .container .cardGraph button:hover + .h2 {
    opacity:1 !important;
  }
  .pic{
    height: 90%;
    width: 100%;
    padding: 10px
  }