.tables {
    padding: 0 5px 10px 5px;
  }
  
  .profile-card {
    width: 90%;
    min-height: 300px;
    margin: 10px 10px 10px 0;
    top: 80px;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
    padding: 0 20px;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-40%);
  }
  .profile-card__img {
    padding: 10px 20px;
    width: 95%;
    height: 80px;
    color: #000000;
    background-color: #6c44fc;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    overflow: hidden;
    position: relative;
    z-index: 4;
    border-radius: 10px;
    color: #fff;
  }

  .profile-card__img[label='1']{
    background:#6c44fc;
  }
  .profile-card__img[label='2']{
    background:linear-gradient(60deg, #ffa726, #fb8c00);
  }

  .profile-card h1{
    margin-top: 4px;
  }

  .material-icons{
    cursor: pointer;
  }

  /* @media screen and (max-width: 576px) {
    .profile-card__img {
      width: 120px;
      height: 120px;
    } */
  /* } */
  