@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
/* html {
      font-size: 10px;
      font-size: calc(5px + 0.4vw);
  }
  body {
      font-family: 'Montserrat', sans-serif;
    font-weight: 700;
      font-size: 1rem;
      color: #fff;
  }
  a {
    text-decoration: none;
    color: rgba(225, 255, 255, .8);
  } */
/* Slider style */
.cd-slider {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: block;
  /* margin-top: 80px; */
}
.cd-slider.ie9 nav div span {
  display: none;
}
.cd-slider ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
}
.cd-slider ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 135vh;
  height: 135vh;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: border-width 0.4s 0.6s;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 40%;
  background-size: 420px 360px;
  background-repeat: no-repeat;
  opacity: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.content blockquote {
  position: absolute;
  bottom: 4%;
  left: 4%;
  z-index: 2;
  max-width: 45%;
}
blockquote p {
  font-size: 4rem;
  margin-bottom: 2rem;
}

/* current slide
  ---------------------------------*/
.cd-slider li.current_slide {
  visibility: visible;
}
.cd-slider li.current_slide::before {
  border-width: 16rem;
}
.cd-slider li.current_slide .content {
  opacity: 1;
  transform: scale(1);
}
/* nav
  ---------------------------------*/
nav div {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  list-style: none;
}
nav div:last-of-type {
  left: auto;
  right: 4%;
}
.prev,
.next {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  transition: box-shadow 0.3s;
}
.prev::before,
.prev::after,
.next::before,
.next::after {
  content: '';
  position: absolute;
  left: 43%;
  background: #fff;
  width: 0.4rem;
  min-width: 3px;
  border-radius: 3px;
  height: 34%;
}
.prev::before {
  transform: rotate(45deg);
  top: 24%;
}
.prev::after {
  transform: rotate(-45deg);
  bottom: 24%;
}
.next::before,
.next::after {
  left: auto;
  right: 43%;
}
.next::before {
  transform: rotate(-45deg);
  top: 24%;
}
.next::after {
  transform: rotate(45deg);
  bottom: 24%;
}
.prev:hover,
.next:hover {
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}
nav > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 5;
  pointer-events: none;
  will-change: width, height;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}

@media only screen and (max-width: 500px) {
  .prev,.next {
    height: 50px;
    width: 50px;
    bottom: 10px;
  }
  nav div{
    top:95%;
  }
  blockquote p {
    font-size: 30px;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
  }
.content blockquote{
  position: absolute;
  bottom: 15%;
  left: 4%;
  z-index: 2;
  max-width: 90%;
}
.content{
  background-size: 300px 200px;
  background-position: 40% 20%;
}
}